@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Chat Page";
}

<form method="post" asp-antiforgery="true">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p id="currentTime">The time on the server is @DateTime.Now.ToString("HH:mm:ss")</p>

        <div>
            <h3>Message history</h3>
            <div id="messageHistory" class="message-history">
                @foreach (var message in Model.MessageHistory)
                {
                    @if (message.IsUserMessage)
                    {
                        <div class="message-right">
                            @message.Content
                            <div class="time-box">
                                @(message.MessageCurrentTime.Substring(10, 6)) <!-- Извлечение времени -->
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="message-left">
                            <b>Ваш запрос:</b><br>
                            <div style="margin-left: 20px;">
                                @Model.MessageHistory[Convert.ToInt32(message.Id.Split("#")[0].Split("$")[0])].Content
                            </div>
                            <br><b>Ответ:</b><br>
                            <div style="margin-left: 20px;">
                                @message.Content
                            </div>
                            <div class="time-box">
                                @(Model.MessageHistory[Convert.ToInt32(message.Id.Split("#")[1].Split("$")[0])].MessageCurrentTime.Substring(10, 6)) <!-- Извлечение времени -->
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="form-group">
            <input type="text" asp-for="MessageOnU.message" class="form-control input-message" placeholder="Enter a message" />
            <input type="submit" value="SEND" class="btn btn-primary input-submit" />
        </div>
    </div>
</form>